/*
  You shouldn't need to change these properties for the assignment wrapped and red/green/blue color divs!
*/
#assignments-wrapper {
  padding: 1.5rem;
}

.assignment {
  min-height: 40px;
  margin-bottom: .5rem;
  background: black;
  display: flex;
}


.red {
  width: 5%;
  height: 40px;
  background: #DC3220;
}

.green {
  width: 5%;
  height: 40px;
  background: #1AFF1A;
}

.blue {
  width: 5%;
  height: 40px;
  background: #1A85FF;
}

/*
Example 1 & 2 CSS
*/


#example1 {
  justify-content: space-between; /*puts space in between elements*/
}


#example2 {
  justify-content: center; 
  align-items: center;
}

#example2 > .green { 
  height: 10px; /*changes height to that speicific look instead of default green*/
  width: 100%;
}

#row1 {
  display: flex;
  justify-content: space-around; /* This spaces the child divs apart with equal space between the items */
  align-items: center; /* This centers them vertically */
 
}

#row2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#row2 >.green{
  height: 10px; /*changes height to that speicific look instead of default green*/
  width: 5%;
}

#row3{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#row3 >.green {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
#row3 >.green >.blue{
  width: 10px;
  height: 10px;

}


.tinygreen{
  width: 10px;
  height: 10px;
  background: #1AFF1A;
}

#row4 >.red{
  height: 10px; /*changes height to that speicific look instead of default green*/
  width: 5%;
}
#row4{
  flex-direction: column;
  align-items: center;
}
#row4 >.blue{
  width: 10px;
  height: 10px;

}

#row5 >.blue{
  display: flex;
  align-items: center;
  justify-content: center;
}
#row5 >.blue > .green{
  height: 10px; /*changes height to that speicific look instead of default green*/
  width: 100%;
}
#row5 >.green{
  display: flex;
  align-items: center;
  justify-content: center;
}
#row5 >.green > .red{
  height: 10px; /*changes height to that speicific look instead of default green*/
  width: 100%;
}
#row5 >.red{
  display: flex;
  align-items: center;
  justify-content: center;
}
#row5 >.red > .blue{
  height: 10px; /*changes height to that speicific look instead of default green*/
  width: 100%;
}


#row6{
  display: flex;
  justify-content: space-between;
  
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.top{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#row6 >.center>.red{
  height: 10px;
  width: 10px;
}
#row6 >.bottom>.green{
  height: 10px;
  width: 10px;
}
#row6 >.top>.blue{
  height: 10px;
  width: 10px;
}

#row7{
  display: flex;
  justify-content: space-between;
}
.red1{
  width: 5%;
  height: 40px;

}
#row7 >.red1{
  display: flex;
  align-items: center;
  background: #DC3220;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#row7 >.red1>.green{
  width: 10px;
}
#row7 >.red{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#row7 >.red>.blue{
  height: 10px;
  width: 100%;
}


#row8 {
  background: #1A85FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#row8 >.green{
  width: 10px;
}
#row8 >.red{
  width: 10px;
}

#row9{
  display: flex;
  justify-content: space-evenly;
}
#row9 >.green{
  display: flex;
  justify-content: center;
}
#row9 >.green >.red{
  width: 10px;
  display: flex;
  align-items: center;
}
#row9 >.green >.red>.blue{
  width: 10px;
  height: 10px;
}
#row9>.blue{
  display: flex;
  align-items: center;
}
#row9>.blue>.green{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10px;
  width: 100%;
}
#row9>.blue>.green>.red{
  height: 10px;
  width: 10px;
}

.horizontal{
  display: flex;
  align-items: center;
  width: 5%;
  height: 40px;
}
#row10{
  background: #1AFF1A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#row10>.horizontal>.red{
  height: 10px;
  width:  100%;
}
#row10>.red{
  width:  10px;
  display: flex;
  align-items: center;
}
#row10>.red>.blue{
  width:  10px;
  height: 10px;
}






/*
Hint: Write Row 1 - 10 CSS below
For smaller div dimensions (thin strips or boxes like in row 2 and 8) use 10px
You should be able to complete this using display:flex, justify-content and align-items
There's no one way to go about it, feel free to explore different approaches!
*/

